.lt_nav {
    padding: 10px;
}
img {
    width: 100%;
    display: block;
}
.lt_nav li {
    float: left;
    width: 33.33%;

}
.lt_product {
    padding: 10px;

}
.lt_product li{
    float: left;
    width: 48%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}
.lt_product li:nth-child(2n+1) {
    margin-right: 4%;
}
.lt_product li a {
    display: block;
    text-align: center;
}
.lt_product li img {
    width: 150px;
    margin: 0 auto;
}
.lt_product .oldPrice {
    text-decoration: line-through;
}
.lt_product .price {
    color: red;
}
