.item_box {
    padding: 10px;
    border-top: 1px solid #ccc;
}
.lt_price .price {
    color: red;

}
.lt_price .oldPrice {
    font-size: 12px;
    text-decoration: line-through;

}

.lt_num .lost {
    color: #666;
    font-size: 12px;
}
.lt_goCart {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 55px;
    border-top: 1px solid red;
    padding: 10px;
    background-color: #EFEFF4;
}
.lt_goCart a {
    padding: 5px;
}