.lt_main {
    position: relative;
}
.lt_history {
    padding: 0 10px;
}
.lt_history .title {
    font-size: 12px;
    color: #666;
}

.lt_history .content {
    border: 1px dashed red;
}
.content li {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border-bottom: 1px dashed red;
}
.content li:last-child {
    border-bottom: 0;
}
.content li i {
    line-height: 30px;
}